@import "src/styles/variables";

.header-picture {
  position: relative;
  left: 550px;
  top: (-$header-offset)/2;
}

.image{
  border-radius: 50%;
  width: $header-height + $header-offset;
  height: $header-height + $header-offset;
  position: absolute;
  top: 0;
  left: 0;
}
