// Colors
$primary-color: rgba(32, 46, 75, 1);
$secondary-color: rgba(48, 79, 109, 1);

// Spacings
$spacing-xSmall: 8px;
$spacing-small: 20px;
$spacing-medium: 30px;
$spacing-large: 50px;

//DINA4 sizes
$page-height: 297mm;
$page-width: 210mm;

//header
$header-height: 150px;
$header-offset: 50px;

//sidebar
$sidebar-width: 60mm;

