<div *ngIf="!dottedHeight else dottedElement" class="timeline--element">
  <div class="year timeline--element__height">{{timelineElement.timeText}}</div>
  <div class="timeline--element__height">
    <div class="circle"></div>
  </div>
  <div class="content">
    <div class="experience-element">
      <div *ngIf="timelineElement.link else nolink" class="company-name">
          <a [href]="timelineElement.link">{{timelineElement.primaryText}}</a>
      </div>
      <ng-template #nolink>
        <div class="company-name">{{timelineElement.primaryText}}</div>
      </ng-template>
      <div class="job-title">{{timelineElement.secondaryText}}</div>
        <ng-container *ngIf="timelineElement.activities.length === 1 else listOrNone">
            <div class="padding-bottom-xSmall">{{timelineElement.activities[0]}}</div>
        </ng-container>
        <ng-template #listOrNone>
            <div *ngIf="timelineElement.activities.length === 0" class="padding-bottom-xSmall"></div>
            <ul *ngIf="!!timelineElement.activities.length">
                <li *ngFor="let activity of timelineElement.activities" class="padding-bottom-xSmall">{{activity}}</li>
            </ul>
        </ng-template>
    </div>
  </div>
</div>

<ng-template #dottedElement>
  <div class="timeline--element">
    <div class="year timeline--element-dotted__height">
      <div class="dotted-spacer-year"></div>
    </div>
    <div class="timeline--element-dotted__height">
      <div class="dotted-spacer"></div>
    </div>
    <div [style.height.px]="dottedHeight" class="content dotted"></div>
  </div>
</ng-template>
